.advantage {
  display: flex;

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: $bg-green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
  }
}

.advantage--leaf {
  &::before {
    content: "";
    background-image: url("../img/advantage-leaf@1x.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }
}

.advantage--powder {
  &::before {
    content: "";
    background-image: url("../img/advantage-powder@1x.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }
}

.advantage--dining {
  &::before {
    content: "";
    background-image: url("../img/advantage-dining@1x.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }
}

.advantage--clock {
  &::before {
    content: "";
    background-image: url("../img/advantage-clock@1x.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.advantage__desc {
  margin: 0;
  align-self: center;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
}

.advantage__number {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantage {
    position: relative;
    display: block;

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 32px;
    }
  }

  .advantage__desc {
    width: calc(100% - 74px);
    font-size: 16px;
    line-height: 24px;
  }

  .advantage__number {
    z-index: -1;
    position: absolute;
    top: -38px;
    left: 113px;
    display: block;
    font-family: $oswald;
    font-size: 281px;
    line-height: 281px;
    color: $bg-grey;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    &::after {
      display: none;
    }
  }

  .advantage__desc {
    width: 100%;
  }
}
