.add-product__head {
  margin: 0;
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-black;
}

.add-product__desc {
  display: flex;
  justify-content: space-between;
  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
  color: $color-grey;
}

.add-product__value {
  margin: 0;
}

.add-product__order {
  width: auto;
  display: block;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .add-product__wrap {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
  }

  .add-product__head {
    font-size: 20px;
    line-height: 20px;
  }

  .add-product__desc {
    margin-left: auto;
    font-size: 16px;
    line-height: 20px;
  }

  .add-product__value {
    margin-left: 52px;
  }

  .add-product__order {
    font-size: 16px;
    margin-bottom: 11px;
  }
}

@media (min-width: $desktop-width) {
  .add-product {
    display: flex;
    align-items: center;
  }

  .add-product__wrap {
    align-items: baseline;
    width: 70%;
  }

  .add-product__head {
    width: 50%;
    margin-right: 38px;
  }

  .add-product__desc {
    width: 50%;
    margin: 0;
  }

  .add-product__order {
    width: 25%;
    margin-left: 37px;
    flex-shrink: 0;
  }
}
