.advantage__image {
  width: 60px;
  height: 60px;

  background-color: $bg-green;
  background-repeat: no-repeat;
  background-position: 4px center;
}

.advantage__image--leaf {
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantage__image--powder {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantage__image--dining {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantage__image--clock {
  background-image: url("../img/advantage-clock@1x.png");
}

.advantage__desc {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
}

@media (min-width: $tablet-width) {
  .advantage__desc {
    font-size: 16px;
    line-height: 24px;
  }
}
