.advantage {
  display: flex;
}

.advantage__image {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: $bg-green;
  background-repeat: no-repeat;
  background-position: 4px center;
}

.advantage__image--leaf {
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantage__image--powder {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantage__image--dining {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantage__image--clock {
  background-image: url("../img/advantage-clock@1x.png");
}

.advantage__desc {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
}

.advantage__number {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantage {
    position: relative;
    display: block;
  }

  .advantages__item {
    width: calc(50% - 29px);
    margin-bottom: 88px;
    padding-bottom: 50px;
  }

  .advantage__desc {
    width: calc(100% - 80px);
    font-size: 16px;
    line-height: 24px;
  }

  .advantage__number {
    z-index: -1;
    position: absolute;
    top: -38px;
    left: 120px;
    display: block;
    font-family: $oswald;
    font-size: 281px;
    line-height: 281px;
    color: $bg-grey;
  }
}
