.all-elements__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.all-elements__desc {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
}

.all-elements__show-all {
  color: $color-grey;
  background-color: $bg-grey;
}

@media (min-width: $tablet-width) {
  .all-elements__title {
    font-size: 20px;
    line-height: 20px;
  }

  .all-elements__desc {
    font-size: 16px;
  }
}
