.contacts {
  display: flex;
}

.contacts__info {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black;
}

.contacts__address {
  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
  }

  .contacts__info {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
  }
}
