.contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 26px;
}

.contacts__info {
  margin: 0;
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black;
}

.contacts__address {
  margin: 0;
  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    justify-content: space-between;
    margin-left: 42px;
    margin-right: 42px;
    padding-bottom: 58px;
  }

  .contacts__info {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__sity {
    display: block;
    margin-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
    margin: 0;
    padding-top: 64px;
    padding-bottom: 60px;
    padding-left: 77px;
    padding-right: 77px;
    background-color: $color-white;
  }

  .contacts__address {
    text-align: left;
    margin-left: 95px;
  }
}
