.dop-tovar__head {
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-black;
}

.dop-tovar__desc {
  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
  color: $color-grey;
}

@media (min-width: $tablet-width) {
  .dop-tovar__wrap {
    display: flex;
  }

  .dop-tovar__head {
    font-size: 20px;
    line-height: 20px;
  }

  .dop-tovar__desc {
    margin-left: auto;
    font-size: 16px;
    line-height: 20px;
  }
}
