.examples__desc {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
}

.examples__cash {
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black;
}

@media (min-width: $tablet-width) {
  .examples__statistics {
    display: flex;
  }

  .examples__desc {
    font-size: 16px;
    line-height: 24px;
  }

  .examples__cash {
    margin-left: auto;
  }
}

@media (min-width: $tablet-width) {
  .examples__cash {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .examples__wrap {
    display: flex;
  }
}
