.examples__desc {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
}

.examples__cash {
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black;
}
