.extra__item {
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .extra__head {
    margin-bottom: 30px;
  }

  .extra__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .extra__item {
    width: calc(50% - 30px);
    margin-bottom: 49px;
  }
}

@media (min-width: $desktop-width) {
  .extra__list {
    display: flex;
    justify-content: space-between;
  }

  .extra__item {
    width: 20%;
  }
}
