.field-text {
  position: relative;
  display: flex;
  align-items: center;
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-black;
}

.field-text__input {
  flex-grow: 1;
  margin-left: 10px;
  padding: 12px 15px;
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-black;
  border: 1px solid $color-light-grey;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid $color-grey;
    box-shadow: inset 0 0 0 2px $color-grey;
  }
}

.field-text__input:hover + .field-text__icon {
  fill: $bg-green;
}

.field-text__input::placeholder {
  color: $color-grey;
}

.field-text__icon {
  position: absolute;
  right: 14px;
}

.field-text__icon-email {
  right: 17px;
}

@media (min-width: $tablet-width) {
  .field-text {
    font-size: 20px;
    line-height: 20px;
  }

  .field-text__input {
    margin-left: 17px;
    padding: 0 18px;
    padding-top: 18px;
    padding-bottom: 15px;
  }

  .field-text__input::placeholder {
    font-size: 20px;
    line-height: 20px;
  }
}
