.food-programs__top {
  display: flex;
  flex-direction: column;
  min-height: 408px;
  margin-bottom: 22px;
  text-align: center;
}

.food-programs__item {
  margin-bottom: 20px;
}

.food-programs__head {
  color: #ffffff;
  line-height: 36px;
}

.food-programs__slogan {
  font-family: $oswald;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.food-programs__selection {
  width: auto;
  margin-top: auto;
}

@media (min-width: $tablet-width) {
  .food-programs {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
  }

  .food-programs__top {
    min-height: 900px;
    padding: 0 90px;
    text-align: left;
  }

  .food-programs__head {
    color: $color-black;
    line-height: 60px;
  }

  .food-programs__slogan {
    margin-bottom: 46px;
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
  }

  .food-programs__image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 690px;
    width: auto;
    margin: 0 auto;
  }

  .food-programs__selection {
    z-index: 1;
    align-self: flex-start;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .food-programs__list {
    display: flex;
    justify-content: space-between;
  }

  .food-programs__item {
    width: 570px;
  }
}
