.food-programs__top {
  background-color: $bg-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.food-programs__head {
  color: #ffffff;
  line-height: 36px;
}

.food-programs__slogan {
  font-family: $oswald;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .food-programs {
    display: flex;
    flex-direction: column;
  }

  .food-programs__head {
    color: $color-black;
    line-height: 36px;
  }

  .food-programs__slogan {
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
  }
}

@media (min-width: $desktop-width) {
  .food-programs__list {
    display: flex;
    justify-content: space-between;
  }

  .food-programs__item {
    width: 570px;
  }
}
