.food-programs__top {
  background-color: $bg-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.food-programs__head {
  color: #ffffff;
  line-height: 36px;
}

.food-programs__slogan {
  font-family: $oswald;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
