.main-header__top {
  display: flex;
  justify-content: space-between;
  padding: 11px 0;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }

  .main-header__top {
    padding: 0;
    margin-right: 93px;
    border-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding-top: 54px;
  }
}
