.main-header-bg {
  position: relative;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    min-height: 305px;
    background-color: $bg-green;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.main-header__wrapper {
  position: relative;
}

.main-header__logo {
  display: block;
  margin-top: 10px;
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .main-header-bg {
    &::after {
      display: none;
    }
  }

  .main-header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
  }

  .main-header__logo {
    margin: 0;
    margin-right: 93px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding: 0 110px;
    padding-top: 54px;
  }
}
