.map {
  position: relative;
  height: 362px;
}

.map__road {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.map__images {
  position: absolute;
  z-index: -1;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .map {
    height: 400px;
  }
}
