.metric {
  position: relative;
  width: 45%;
  min-height: 54px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.metric__wrapper {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  width: 84px;
  margin: auto;
  text-align: center;
  background-color: #f2f2f2;
}

.metric__value {
  margin: 0;
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $color-black;
}

.metric__desc {
  font-family: $arial;
  font-size: 12px;
  line-height: 12px;
  color: $color-grey;
}

@media (min-width: $tablet-width) {
  .metric__wrapper {
    width: 127px;
  }

  .metric__value {
    font-size: 30px;
    line-height: 37.02px;
  }

  .metric__desc {
    font-size: 14px;
    line-height: 14px;
  }
}
