.program {
  position: relative;
  padding: 21px;
  background-color: $bg-grey;
}

.program__logo {
  position: absolute;
  left: 21px;
  width: 50px;
  height: 50px;
  background-color: $bg-green;
  border-radius: 50%;
}

.program__icon {
  position: absolute;
}

.program__head {
  margin-top: 12px;
  margin-bottom: 28px;
  margin-left: 70px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37.02px;
  text-transform: uppercase;
}

.program__desc {
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
}

.program__btn {
  position: relative;
  color: $color-black;
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    width: 24px;
    height: 11px;
    margin-left: 10px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    width: 33px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
    transition: 0.2s;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .program {
    padding: 50px;
  }

  .program__logo {
    right: 60px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    background-color: $bg-green;
    border-radius: 50%;
  }

  .program__icon {
    left: -35px;
    top: -13px;
    width: 268px;
    height: 194px;
  }

  .program__desc {
    width: calc(100% - 230px);
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .program__head {
    margin-left: 0;
    font-size: 36px;
  }

  .program__btn {
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 10px;
      margin-left: 20px;
    }
  }
}
