@mixin title-big {
  font-size: 32px;
  font-family: "Oswald", sans-serif;
  line-height: 60px;
  font-weight: 400;
}

@mixin title-small {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin text-small {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 18px;
}

@mixin indent {
  margin: 0;
  padding: 0;
}
